body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Custom CSS */
h2 {
    margin: 0;
}

.user-checkbox {
    display: block;
    margin: 0.5rem 0;
}

.center-text {
    text-align: center;
}

.finished-text {
    color: #7a76f3;
}

.unfinished-text {
    color: #f45553;
}
